/*
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 


*/

div {
  /*border-color: orange;
  border-width: 4px;
  border-style: dotted;*/
  /*border: orange 4px dotted;*/
  border-top: orange 4px dotted;
}